body{
    background-color: #053A3D;
}

div{
    height: 25px;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    margin:auto;
    border: 3px solid #54E6E7;
    background-color: #AAC6C6;
    box-shadow: 0px 0px 15px #AAC6C6;
}

.progress{
    width: 0%;
    background-color: #1A2929;
    opacity: 0.8;
    animation: progress 2s infinite alternate;
}

@keyframes progress {
    0% {
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

h1{
    bottom: 40vh;
    font-size: 2vh;
    left: 0;
    position: absolute;
    text-align: center;
    transition: opacity 500ms var(--ease-out);
    width: 100%;
    color: #fff;
}

